*{margin: 0;padding: 0;}
.logo {
    width: 115px;
    height: 95px;
    background-image: url(../image/back2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.box_left {
    width: 72%;
    padding-top: 50px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.box_left h5{
    color: #86ba09;
    font-size: 22px;
}
.box_left p{
    color: rgb(85, 85, 85);
}
.box_left img {
    width: 100%!important;
}

.color {
    background: #f5f5f5;
}
.tintuc {
    width: 77%;
    margin: 65px auto;
    display: flex;
    justify-content: space-between;
}

.box_right {
    width: 26%;
    margin-bottom: 30px;
}
.box_right h3 {
    text-align: center;
    height: 65px;
    background: #fff;
    margin-top: 50px;
    position: relative;
}
.box_right h3:after{
    content: "";
    width: 90%;
    height: 2px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #f5f5f5;
}
.khoi1 {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-top: 22px;
    background: #fff;
}
.khoi1 h4 {
    padding: 22px 0;
    border-bottom: 3px solid #ececec;
    margin-bottom: 15px;
    width: 90%;
    text-align: center;
}
.layout {
    display: flex;
    justify-content: space-around;
    width: 90%;
    border-bottom: 1px solid #ececec;
    margin-bottom: 10px;
}
.layout img {
    width: 70px;
    flex-shrink: 0;
}
.layout .noidung1 {
    width: 170px;
    height: 110px;
}
.noidung1>p {
    font-size: 17px;
    margin-bottom: 5px;
}
.noidung1 span {
    font-size: 17px;
}
.noidung1 span.fa.fa-clock-o {
    margin-right: 10px;
}
