*{margin:0;padding: 0;}

.logo {
    width: 115px;
    height: 95px;
    background-image: url(../image/back2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.dulieu {width: 40%;margin-top: 70px;}
.dulieu button {
    width: 150px;
    height: 40px;
    font-weight: bold;
    font-size: 22px;
    font-family: segoe ui light;
    background: #86ba09;
    cursor: pointer;
    color: white;
    margin: auto;
    display: block;
}
.dulieu button:hover{
	transform: scale(1.05);
}
.dulieu a{text-decoration: none;}
.dulieu table {width: 90%;margin: 35px auto;text-align: center;font-size: 22px;font-family: segoe ui light;font-weight: bold;}


.dulieu table td {border: 2px solid #ececec;color: white;background: #86ba09;border-radius: 5px;}

.dulieu h3 {font-size: 35px;font-weight: bold;font-family: segoe ui light;text-align: center;color: #86ba09;}

.items {display: flex;flex-wrap: wrap;justify-content: space-evenly;}




h4 {background: #86ba09;height: 50px;font-weight: bolder;font-size: 22px;font-family: segoe ui light;padding-top: 15px;color: white;}


.left {
   
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    flex-grow: 1;
    margin-top: 70px;
}
.left thead td {font-size: 20px;width: 120px;font-weight: bold;font-family: segoe ui light;border-bottom: 2px solid #ececec;padding: 10px;}

.left tbody td {font-size: 20px;
    width: 120px;
    font-weight: bold;
    font-family: segoe ui light;
    border-bottom: 1px solid #ececec;
    padding: 20px 0;}

button {width: 70px;height: 30px;font-weight: bold;font-size: 15px;font-family: segoe ui light;color: forestgreen;cursor: pointer;}



.phantrang ul li {list-style: none;width: 30px;padding: 3px;height: 30px;border-radius: 50%;border: 1px solid forestgreen;margin: 0 2px;}

.phantrang ul li a {text-decoration: none;width: 100%;height: 100%;display: block;text-align: center;color: forestgreen;transition: 0.3s;}
.phantrang ul li a:hover{
	transform: scale(1.3);
}

.phantrang {height: 40px;font-size: 20px;font-family: segoe ui light;font-weight: bold;}

.phantrang ul {display: flex;justify-content: center;align-items: center;height: 100%;}

.item a {text-decoration: none;color: forestgreen;}

.item img {width: 90%;height: 300px;border-radius: 20px;}

.noidung {width: 90%;margin: 50px auto;display: flex;}

.menu_footer {width: 100%;height: 30px;background: rgba(255,255,255,0.5);text-align: center;font-family: segoe ui light;padding: 5px;font-weight: bold;}

.box2,.box3 {width: 30%;text-align: center;}
.box2 ul li a:hover{
	color:  #86ba09;

}
.box3 ul li a:hover{
	color:  #86ba09;
	
}
.box2 ul li a{
	transition: 0.5s;

}
.box3 ul li a{
	transition: 0.5s;
}
.box2 ul {/* margin-top: 74px; */}

.box2 h3,.box3 h3 {font-size: 30px;color: #1c1c1c;font-family: segoe ui light;width: 30%;margin-top: 41px;width: 100%;}

.box2 ul li,.box3 ul li {list-style: none;margin-top: 40px;}

.box2 ul li a,.box3 ul li a {text-decoration: none;color: #666;font-size: 20px;}

.box1 {width: 30%;}

.box1 span {font-size: 20px;font-family: segoe ui light;font-weight: bolder;display: block;margin-left: 30px;color: #666;}

.box1 img {width: 40%;height: 120px;object-fit: contain;}

.footer {width: 100%;/* height: 300px; */display: flex;/* color: #000000; */justify-content: space-evenly;background: #000000;}



.menu>ul li:nth-child(3) ul {
	display: flex;
	flex-direction: column;
	width: 174px;
	align-items: center;
	position: absolute;
	/* top: 64px; */
	left: 0;
	border: 3px solid;
	display: none;
z-index: 10;
background: #fdfeff;top: 46px;}





.menu>ul li:nth-child(3) ul:after {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	transform: translate(-50%,-60%) rotate(45deg);
	left: 20%;background: #fdfeff;
	border-left: 3px solid;
	border-top: 3px solid;
	top:0;
}


.menu>ul li:nth-child(3) ul li {padding: 10px;width: 100%;box-sizing: border-box;text-align: center;margin-top: 15px;
	transition: 0.5s;
}

.menu>ul li:nth-child(3) ul li:hover {background: #86ba09;}

.contact {width: 20%;text-align: left;}


.contact ul {display: flex;justify-content: space-evenly;font-size: 20px;}

.contact ul li {list-style: none;}

.contact ul li a {text-decoration: none;color: rgba(102,102,102,0.85);}

.menu ul li {list-style: none;}

.menu ul li:nth-child(3) {position: relative;}

.menu ul li a {text-decoration: none;color: rgba(102,102,102,0.85);}



.menu {width: 50%;}

.menu>ul {display: flex;justify-content: space-evenly;color: rgb(7 25 39 / 15%);}

a.logo {text-decoration: none;width: 20%;text-align: right;font-size: 30px;color: #86ba09;}

.header {
	width: 100%;
	height: 100px;
	background: #fdfeff;
	display: flex;
	font-weight: 1000;
	font-family: segoe ui light;
justify-content: space-around;align-items: center;}
.show{
	display: block;
}

html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}


.header .menu ul li a.color1{color:  #86ba09;}
.rotate{
	transform: rotate(180deg);
	
}
.fa.fa-chevron-down{
	transition: 0.2s;
}


.item {width: 30%;height: 400px;text-align: center;font-weight: bold;font-family: segoe ui light;font-size: 30px;margin-top: 40px;color: forestgreen;display: flex;flex-direction: column;justify-content: space-between;}


.left a {text-decoration: none;font-size: 20px;background: #86ba09;color: white;padding: 10px;border-radius: 5px;margin-top: 30px;display: inline-block;margin-right: 75%;}
form input[type="submit"] {
    font-size: 22px;
    color: white;
    background: #86ba09;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ececec;
    /* display: block; */
    /* margin-left: 65%; */
    position: relative;
    left: 50%;
    top: -45px;
}
.listProduct {display: flex;}
    .container {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #e0e1e2a1;
     visibility: hidden; 
    z-index: -1;
}
.a1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.a2{
     animation: ani1 1s forwards;
    visibility:visible;
    z-index: 1000;
   
}
@-webkit-keyframes ani1{
    from{transform: translateY(-100%);opacity: 0;}
    to{transform: translateY(0);opacity: 1;}
}
.container form input:first-child {
    font-size: 20px;
    width: 400px;
    height: 50px;
    border: 1px solid rgba(255,255,255,0.09);
    border-radius: 22px;
}
.container input[type="submit"] {
    width: 65px;
    height: 50px;
    border: 1px;
    border-radius: 22px;
    font-size: 20px;
    font-weight: bold;
    font-family: segoe ui light;
}
.container span.fa.fa-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    font-size: 30px;
}
.method {
    width: 40%;
    margin: 75px auto;
    text-align: center;
    font-size: 30px;
    font-family: segoe ui light;
    font-weight: bold;
}
.method .a2 {
    display: flex;
    flex-direction: column;
    height: 120px;
    justify-content: space-evenly;
}
.method .a2 a {
    text-decoration: none;
    color: white;
    border: 1px solid #ececec;
    background: #86ba09;
    transition: 0.5s;
}
.method .a2 a:hover{
	transform: scale(1.1);
}
.left table {
    width: 90%;
}
.left h5 {
    font-size: 30px;
    font-weight: bold;
    font-family: segoe ui light;
    text-align:center;
    margin-top: 30px;
}